name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: SSH into EC2 and deploy
        uses: appleboy/ssh-action@master
        with:
          host: ec2-34-226-139-220.compute-1.amazonaws.com
          username: ubuntu
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
                   cd /home/ubuntu/APIBUENA
                   git pull origin main
                   npm install
                      pm2 stop all
                        pm2 start npm --name "APIBUENA" -- run dev 
                           sudo systemctl restart nginx
